### Soal 1

Dalam Pandas, ada beberapa cara untuk memilih data dari DataFrame. Jelaskan perbedaan mendasar antara menggunakan metode `.loc` dan `.iloc` saat melakukan seleksi data. Sebutkan jenis label atau posisi yang digunakan oleh masing-masing metode.\n

<!-- TULIS JAWABAN DESKRIPTIF ANDA DISINI (Markdown) -->

Jawaban Anda:



```
#.loc
.loc adalah accessor (alat akses) utama untuk melakukan seleksi data berdasarkan label dari index baris dan nama kolom. Ini sangat berguna ketika index DataFrame Anda memiliki makna semantik (seperti ID01, ID02 pada df_contoh) atau ketika Anda ingin memilih kolom berdasarkan namanya. .loc bersifat inklusif untuk slicing berbasis label.

#.illoc
.iloc adalah accessor untuk melakukan seleksi data berdasarkan posisi integer (mulai dari 0 hingga panjang-1 untuk baris, dan 0 hingga jumlah_kolom-1 untuk kolom), mirip dengan cara kerja indexing pada list Python atau array NumPy. .iloc selalu bisa digunakan, terlepas dari apakah index DataFrame Anda adalah label string atau integer. Penting diingat bahwa slicing dengan .iloc bersifat eksklusif untuk batas atas (mirip slicing Python standar).

#label/posisi
.loc menggunakan LABEL index/kolom:
1.Input untuk .loc adalah nama atau label dari index baris dan nama atau label dari kolom.
2.Jika Anda menggunakan angka dengan .loc, Pandas akan mencoba mencocokkannya dengan label index atau kolom yang berupa angka tersebut, bukan posisinya.
3.Slicing dengan .loc (misalnya, df.loc['A':'C']) bersifat inklusif, artinya baik label awal ('A') maupun label akhir ('C') akan dimasukkan dalam hasil.

.iloc menggunakan POSISI INTEGER index/kolom:
1.Input untuk .iloc adalah posisi integer (mulai dari 0) dari baris dan kolom.
2..iloc tidak peduli dengan nama label; ia hanya melihat urutan posisi.
3.Slicing dengan .iloc (misalnya, df.iloc[0:3]) bersifat eksklusif untuk batas atas, artinya ia akan mengambil elemen dari posisi 0 hingga posisi 2 (posisi ke-3 tidak termasuk). Ini konsisten dengan slicing pada list Python.

```

### Soal 2

Diberikan DataFrame Pandas `df` berikut yang memiliki nilai yang hilang (NaN) di kolom 'Score':

```python
import pandas as pd
import numpy as np

data = {'ID': [1, 2, 3, 4, 5],
        'Score': [85, 92, np.nan, 78, 95],
        'Category': ['A', 'B', 'A', 'C', 'B']}
df = pd.DataFrame(data)
```

Lakukan langkah-langkah berikut:
1.  Isi (impute) nilai `NaN` pada kolom 'Score' dengan nilai rata-rata (mean) dari kolom 'Score' yang ada.
2.  Pilih (select) baris-baris di mana 'Score' lebih besar dari 80 **DAN** 'Category' adalah 'B'.
3.  Tampilkan DataFrame hasil seleksi tersebut.\n

In [ ]:
# TULIS JAWABAN KODE ANDA DISINI (Python)
# Pastikan program Anda berjalan tanpa error.

import pandas as pd
import numpy as np

data = {'ID': [1, 2, 3, 4, 5],
        'Score': [85, 92, np.nan, 78, 95],
        'Category': ['A', 'B', 'A', 'C', 'B']}

df = pd.DataFrame(data)

#isi (impute)
mean_score = df['Score'].mean()
df.loc[df['Score'].isna(), 'Score'] = mean_score

#pilih (select)
pilih_baris = df.loc[(df['Score'] > 80) & (df['Category'] == 'B')]

print(pilih_baris)

   ID  Score Category
1   2   92.0        B
4   5   95.0        B

#### Expected Output Soal 2

```
   ID  Score Category
1   2   92.0        B
4   5   95.0        B
```\n

### Soal 3

Diberikan sebuah Pandas DataFrame `df` yang berisi data siswa sebagai berikut:

```python
import pandas as pd
import numpy as np

data = {
    'ID': [1, 2, 3, 4, 5, 6, 7, 8],
    'Nama': ['Adi', 'Budi', 'Cici', 'Dodi', 'Eka', 'Fani', 'Gita', 'Hadi'],
    'Nilai': [85, np.nan, 70, 90, 78, np.nan, 88, 72],
    'Kota': ['Jakarta', 'Bandung', 'Surabaya', 'Jakarta', 'Bandung', 'Jakarta', 'Surabaya', 'Jakarta']
}
df = pd.DataFrame(data)
```

Lakukan langkah-langkah berikut menggunakan Pandas:
1. Filter DataFrame `df` untuk mendapatkan hanya data siswa yang berasal dari 'Kota' 'Jakarta'. Simpan hasilnya dalam DataFrame baru `df_jakarta`. Pastikan menggunakan `copy()` setelah filter untuk menghindari `SettingWithCopyWarning` jika Anda memodifikasi `df_jakarta` nanti.
2. Identifikasi dan tangani nilai yang hilang (`NaN`) pada kolom 'Nilai' di dalam DataFrame `df_jakarta`. Isi nilai yang hilang tersebut dengan nilai rata-rata ('mean') dari kolom 'Nilai' yang *tidak hilang* di dalam `df_jakarta` itu sendiri.
3. Dari DataFrame `df_jakarta` yang nilai `NaN`-nya sudah ditangani, filter kembali untuk mendapatkan hanya siswa yang memiliki 'Nilai' lebih besar dari 75.
4. Tampilkan DataFrame hasil akhir.

Tulis kode Python untuk menyelesaikan tugas ini.\n

In [ ]:
# TULIS JAWABAN KODE ANDA DISINI (Python)
# Pastikan program Anda berjalan tanpa error.\n

import pandas as pd
import numpy as np

data = {
    'ID': [1, 2, 3, 4, 5, 6, 7, 8],
    'Nama': ['Adi', 'Budi', 'Cici', 'Dodi', 'Eka', 'Fani', 'Gita', 'Hadi'],
    'Nilai': [85, np.nan, 70, 90, 78, np.nan, 88, 72],
    'Kota': ['Jakarta', 'Bandung', 'Surabaya', 'Jakarta', 'Bandung', 'Jakarta', 'Surabaya', 'Jakarta']
}

df = pd.DataFrame(data)

#filter
df_jakarta = df.loc[df['Kota'] == 'Jakarta'].copy()

#tangani nan dengan mean
mean_nilai = df_jakarta['Nilai'].mean()
df_jakarta.loc[df_jakarta['Nilai'].isna(), 'Nilai'] = mean_nilai

#filter
df_filtered = df_jakarta.loc[df_jakarta['Nilai'] > 75]

print(df_filtered)

   ID  Nama      Nilai     Kota
0   1   Adi  85.000000  Jakarta
3   4  Dodi  90.000000  Jakarta
5   6  Fani  82.333333  Jakarta

#### Expected Output Soal 3

```
   ID   Nama      Nilai     Kota
0   1    Adi  85.000000  Jakarta
3   4   Dodi  90.000000  Jakarta
5   6   Fani  82.333333  Jakarta
```\n

### Soal 4

Anda diberikan sebuah dictionary yang berisi data siswa. Ubahlah dictionary ini menjadi Pandas DataFrame.

```python
import pandas as pd
import numpy as np

data = {
    'Nama': ['Andi', 'Budi', 'Cindy', 'Dewi', 'Eko', 'Fajar', 'Gita'],
    'Usia': [19, 21, 22, 20, 23, 21, 24],
    'Nilai_Matematika': [80, 70, 85, 90, 78, 72, 88],
    'Nilai_Fisika': [75, np.nan, 88, 92, np.nan, 78, 95]
}
# Buat DataFrame dari data di atas
df = pd.DataFrame(data)
```

Lakukan langkah-langkah berikut:
1. Filter DataFrame `df` untuk memilih siswa yang memiliki `Usia` lebih dari 20 **DAN** `Nilai_Matematika` lebih dari 75. Simpan hasilnya dalam DataFrame baru, misalnya `df_filtered`.
2. Pada DataFrame `df_filtered`, identifikasi dan tangani nilai yang hilang (`NaN`) pada kolom `Nilai_Fisika`. Ganti nilai `NaN` tersebut dengan nilai **median** dari kolom `Nilai_Fisika` **di dalam subset `df_filtered` ini**.
3. Tampilkan hanya kolom `Nama`, `Nilai_Matematika`, dan `Nilai_Fisika` (setelah imputasi) dari `df_filtered`.

Kode Anda seharusnya menghasilkan output yang menampilkan subset DataFrame yang diminta.\n

In [ ]:
# TULIS JAWABAN KODE ANDA DISINI (Python)
# Pastikan program Anda berjalan tanpa error.

import pandas as pd
import numpy as np

data = {
    'Nama': ['Andi', 'Budi', 'Cindy', 'Dewi', 'Eko', 'Fajar', 'Gita'],
    'Usia': [19, 21, 22, 20, 23, 21, 24],
    'Nilai_Matematika': [80, 70, 85, 90, 78, 72, 88],
    'Nilai_Fisika': [75, np.nan, 88, 92, np.nan, 78, 95]
}

df = pd.DataFrame(data)

#filter
df_filtered = df.loc[(df['Usia'] > 20) & (df['Nilai_Matematika'] > 75)]

#ganti nilai nan dengan median
median_fisika = df_filtered['Nilai_Fisika'].median()
df_filtered.loc[df_filtered['Nilai_Fisika'].isna(), 'Nilai_Fisika'] = median_fisika

print(df_filtered[['Nama', 'Nilai_Matematika', 'Nilai_Fisika']])

    Nama  Nilai_Matematika  Nilai_Fisika
2  Cindy                85          88.0
4    Eko                78          91.5
6   Gita                88          95.0

#### Expected Output Soal 4

Berikut adalah contoh output yang diharapkan:

```
    Nama  Nilai_Matematika  Nilai_Fisika
2  Cindy                85          88.0
4    Eko                78          91.5
6   Gita                88          95.0
```
(Indeks baris mungkin berbeda tergantung implementasi, tetapi data dan kolom harus sesuai)\n

### Soal 5

```python
import pandas as pd
import numpy as np

data = {
    'ProductID': [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
    'Category': ['Electronics', 'Books', 'Electronics', 'Clothing', 'Books', 'Electronics', 'Books', 'Electronics', 'Clothing', 'Books'],
    'Price': [150.0, 45.0, 600.0, 30.0, 120.0, 250.0, np.nan, 400.0, 50.0, 90.0],
    'Quantity': [2, 5, 1, 10, np.nan, 3, 4, 1, 6, np.nan],
    'CustomerRating': [4.5, np.nan, 3.0, 4.0, 5.0, np.nan, 3.5, np.nan, 4.0, 4.8]
}
df = pd.DataFrame(data)
```

Dengan menggunakan DataFrame `df` di atas, lakukan langkah-langkah berikut:

1.  Filter DataFrame untuk mendapatkan baris-baris yang memenuhi *semua* kondisi berikut secara bersamaan:
    *   `Category` adalah 'Electronics' **atau** 'Books'.
    *   `Price` berada di antara 50 dan 500 (inklusif).
    *   `Quantity` lebih besar dari 0 **dan** bukan nilai yang hilang (`NaN`).
    *   `CustomerRating` adalah nilai yang hilang (`NaN`).

2.  Hitung nilai median dari kolom `CustomerRating` *pada DataFrame original* (abaikan nilai `NaN` saat menghitung median).

3.  Pada *subset DataFrame yang telah difilter* dari langkah 1, isi nilai `NaN` di kolom `CustomerRating` dengan nilai median yang dihitung pada langkah 2.

4.  Tambahkan kolom baru bernama `TotalRevenue` pada subset yang telah difilter dan diimputasi, yang merupakan hasil perkalian `Price` dengan `Quantity`.

5.  Pilih (select) hanya kolom-kolom `ProductID`, `Price`, `Quantity`, `CustomerRating`, dan `TotalRevenue` dari subset yang dihasilkan.

6.  Tampilkan DataFrame hasil akhir.
\n

In [ ]:
# TULIS JAWABAN KODE ANDA DISINI (Python)
# Pastikan program Anda berjalan tanpa error.\n

import pandas as pd
import numpy as np

data = {
    'ProductID': [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
    'Category': ['Electronics', 'Books', 'Electronics', 'Clothing', 'Books', 'Electronics', 'Books', 'Electronics', 'Clothing', 'Books'],
    'Price': [150.0, 45.0, 600.0, 30.0, 120.0, 250.0, np.nan, 400.0, 50.0, 90.0],
    'Quantity': [2, 5, 1, 10, np.nan, 3, 4, 1, 6, np.nan],
    'CustomerRating': [4.5, np.nan, 3.0, 4.0, 5.0, np.nan, 3.5, np.nan, 4.0, 4.8]
}

df = pd.DataFrame(data)

#filter
df_filtered = df.loc[
    (df['Category'].isin(['Electronics', 'Books'])) &
    (df['Price'] >= 50) & (df['Price'] <= 500) &
    (df['Quantity'] > 0) & (df['Quantity'].notna()) &
    (df['CustomerRating'].isna())
]

#hitung meedian
hitung_median = df.loc[df['CustomerRating'].notna(), 'CustomerRating'].median()

#isi nan
df_filtered.loc[df_filtered['CustomerRating'].isna(), 'CustomerRating'] = hitung_median

#menambah kolom
df_filtered.loc[:, 'TotalRevenue'] = df_filtered['Price'] * df_filtered['Quantity']

#select
df_selected = df_filtered.loc[:, ['ProductID', 'Price', 'Quantity', 'CustomerRating', 'TotalRevenue']]

print(df_selected)

   ProductID  Price  Quantity  CustomerRating  TotalRevenue
5        106  250.0       3.0             4.0         750.0
7        108  400.0       1.0             4.0         400.0

/tmp/ipython-input-591700213.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered.loc[:, 'TotalRevenue'] = df_filtered['Price'] * df_filtered['Quantity']

#### Expected Output Soal 5

```
   ProductID  Price  Quantity  CustomerRating  TotalRevenue
5        106  250.0       3.0             4.0         750.0
7        108  400.0       1.0             4.0         400.0
```\n