## Biodata Diri

* **Nama Lengkap: Puja Mei Siswanti**
* **ID Telegram: @pujaorangbaik**
* **Email: pujasiswanti@gmail.com**

## Soal 1
**Mengolah Data dengan List dan Tuple**
Seorang guru memiliki daftar nilai siswa dalam bentuk list, seperti berikut:  
`nilai_siswa = [85, 90, 78, 92, 88, 76, 95, 89, 77, 84]`

#### **Tugas:**
1. **List:**
   - Hitung rata-rata nilai siswa.
   - Tentukan nilai tertinggi dan nilai terendah.
   - Urutkan nilai siswa dari yang terendah ke tertinggi.

2. **Tuple:**
   - Ubah list yang telah dibuat menjadi tuple.
   - Jelaskan mengapa tuple cocok untuk digunakan jika data tidak akan diubah.

#### **Output yang Diharapkan:**
```python
1. List:
   Rata-rata nilai: 85.4
   Nilai tertinggi: 95
   Nilai terendah: 76
   Daftar nilai terurut: [76, 77, 78, 84, 85, 88, 89, 90, 92, 95]

2. Tuple:
   Tuple nilai siswa: (85, 90, 78, 92, 88, 76, 95, 89, 77, 84)
   Nested list dan tuple: [[85, 90, 78, 92, 88, 76, 95, 89, 77, 84], (85, 90, 78, 92, 88, 76, 95, 89, 77, 84)]
```

---

In [ ]:
## JAWABAN NO 1
nilai_siswa = [85, 90, 78, 92, 88, 76, 95, 89, 77, 84]

#list
rata_rata = sum(nilai_siswa) / len(nilai_siswa)
nilai_tertinggi = max(nilai_siswa)
nilai_terendah = min(nilai_siswa)
nilai_terurut = sorted(nilai_siswa)

print("1. List:")
print("   Rata-rata nilai:", rata_rata)
print("   Nilai tertinggi:", nilai_tertinggi)
print("   Nilai terendah:", nilai_terendah)
print("   Daftar nilai terurut:", nilai_terurut)

#tuple
nilai_siswa_tuple = tuple(nilai_siswa)
nested_list_tuple = (nilai_siswa, nilai_siswa_tuple)

print("\n2. Tuple:")
print("   Tuple nilai siswa:", nilai_siswa_tuple)
print("   Nested list dan tuple:", nested_list_tuple)
print("\n   Penjelasan mengapa tuple cocok: Tuple cocok untuk digunakan jika data tidak akan diubah karena tuple adalah tipe data yang immutable (tidak dapat diubah) setelah dibuat. Ini berguna juga untuk menghindari kesalahan terubahnya data secara tidak sengaja.")

1. List:
   Rata-rata nilai: 85.4
   Nilai tertinggi: 95
   Nilai terendah: 76
   Daftar nilai terurut: [76, 77, 78, 84, 85, 88, 89, 90, 92, 95]

2. Tuple:
   Tuple nilai siswa: (85, 90, 78, 92, 88, 76, 95, 89, 77, 84)
   Nested list dan tuple: ([85, 90, 78, 92, 88, 76, 95, 89, 77, 84], (85, 90, 78, 92, 88, 76, 95, 89, 77, 84))

   Penjelasan mengapa tuple cocok: Tuple cocok untuk digunakan jika data tidak akan diubah karena tuple adalah tipe data yang immutable (tidak dapat diubah) setelah dibuat. Ini berguna juga untuk menghindari kesalahan terubahnya data secara tidak sengaja.

## Soal 2
**Mengelola Data dengan Dictionary**

Anda memiliki data inventaris barang di sebuah gudang dalam bentuk dictionary sebagai berikut:  
```python
inventaris = {
    "laptop": 10,
    "mouse": 25,
    "keyboard": 15,
    "monitor": 5,
    "printer": 8
}
```

#### **Tugas:**
1. Tambahkan item baru dengan nama "headset" dan jumlah 12.
2. Perbarui jumlah item "laptop" menjadi 12.
3. Hapus item "printer" dari inventaris.
4. Tampilkan dictionary terbaru.

#### **Output yang Diharapkan:**

```python
Inventaris Gudang:
{
    "laptop": 12,
    "mouse": 25,
    "keyboard": 15,
    "monitor": 5,
    "headset": 12
}
```

---

In [ ]:
## JAWABAN NO 2
inventaris = {
    "laptop": 10,
    "mouse": 25,
    "keyboard": 15,
    "monitor": 5,
    "printer": 8
}

inventaris["headset"] = 12
inventaris["laptop"] = 12
del inventaris ["printer"]

print("Inventaris Gudang: ")
print(inventaris)

Inventaris Gudang:
{'laptop': 12, 'mouse': 25, 'keyboard': 15, 'monitor': 5, 'headset': 12}

## Soal 3
**Operasi Himpunan dengan Set**
Dua grup siswa mengikuti dua kegiatan ekstrakurikuler yang berbeda. Data siswa dalam bentuk set adalah sebagai berikut:  
```python
grup_olahraga = {"Andi", "Budi", "Citra", "Dewi", "Eka"}
grup_musik = {"Budi", "Citra", "Fajar", "Gina", "Hani"}
```

#### **Tugas:**
1. Tentukan siswa yang mengikuti kedua grup (irisan).
2. Tentukan siswa yang hanya mengikuti salah satu grup saja (selisih simetris).
3. Gabungkan seluruh siswa dari kedua grup.
4. Tambahkan nama siswa baru, "Ivan", ke dalam grup olahraga dan "Joko" ke grup musik.
5. Periksa apakah "Dewi" termasuk dalam grup musik.

#### **Output yang Diharapkan:**
- Hasil irisan.
- Hasil selisih simetris.
- Gabungan kedua grup.
- Grup olahraga dan grup musik setelah penambahan.
- Hasil pemeriksaan untuk "Dewi".

---

In [ ]:
## JAWABAN NO 3
grup_olahraga = {"Andi", "Budi", "Citra", "Dewi", "Eka"}
grup_musik = {"Budi", "Citra", "Fajar", "Gina", "Hani"}

siswa_kedua_grup = grup_olahraga.intersection(grup_musik)
siswa_satu_grup = grup_olahraga.symmetric_difference(grup_musik)
seluruh_siswa = grup_olahraga.union(grup_musik)
grup_olahraga.add("Ivan")
grup_musik.add("Joko")

print("Hasil irisan          : ", siswa_kedua_grup)
print("\nHasil selisih simetris: ", siswa_satu_grup)
print("\nGabungan kedua grup   : ", seluruh_siswa)
print("\nGrup olahraga dan grup musik setelah penambahan")
print("Grup olahraga: ", grup_olahraga)
print("Grup musik   : ", grup_musik)
print("\nApakah Dewi termasuk dalam grup musik: ", "Dewi" in grup_musik)

Hasil irisan          :  {'Citra', 'Budi'}

Hasil selisih simetris:  {'Andi', 'Gina', 'Hani', 'Fajar', 'Eka', 'Dewi'}

Gabungan kedua grup   :  {'Andi', 'Gina', 'Budi', 'Eka', 'Hani', 'Fajar', 'Dewi', 'Citra'}

Grup olahraga dan grup musik setelah penambahan
Grup olahraga:  {'Andi', 'Ivan', 'Budi', 'Eka', 'Dewi', 'Citra'}
Grup musik   :  {'Gina', 'Hani', 'Budi', 'Fajar', 'Joko', 'Citra'}

Apakah Dewi termasuk dalam grup musik:  False