### Soal 1

Dalam proses "Grouping dan Agregasi" data, jelaskan dengan singkat konsep "split-apply-combine" yang merupakan dasar dari operasi GroupBy.

<!-- TULIS JAWABAN DESKRIPTIF ANDA DISINI (Markdown) -->

Jawaban Anda:

1. Split (Pemisahan):
Pada tahap ini, data di dalam DataFrame dipecah atau dibagi menjadi beberapa kelompok. Pembagian ini didasarkan pada nilai-nilai unik dari satu atau lebih kolom yang Anda tentukan sebagai "kunci" (key).

2. Apply (Penerapan):
Setelah data terbagi menjadi kelompok-kelompok independen, sebuah fungsi diterapkan pada setiap kelompok tersebut. Fungsi ini bisa berupa fungsi agregasi, transformasi, atau filtrasi.

3. Combine (Penggabungan):
Setelah fungsi diterapkan pada setiap kelompok, hasil dari masing-masing kelompok tersebut digabungkan kembali menjadi satu struktur data baru. Struktur data hasil ini biasanya berupa DataFrame atau Series baru.

### Soal 2

Buatlah sebuah DataFrame pandas dengan data berikut:

- Kolom 'Produk': `['Apel', 'Pisang', 'Apel', 'Jeruk', 'Pisang']`
- Kolom 'Jumlah': `[10, 15, 12, 8, 20]`

Gunakan pandas `groupby()` untuk mengelompokkan DataFrame berdasarkan kolom 'Produk', lalu hitung total 'Jumlah' untuk setiap produk. Cetak hasil agregasi tersebut.

In [ ]:
# TULIS JAWABAN KODE ANDA DISINI (Python)
# Pastikan program Anda berjalan tanpa error.
import pandas as pd

data_buah ={
     'Produk': ['Apel', 'Pisang', 'Apel', 'Jeruk', 'Pisang'],
     'Jumlah': [10, 15, 12, 8, 20]
}

df = pd.DataFrame(data_buah)

grouphy = df.groupby('Produk')
jumlah = grouphy['Jumlah'].sum()
print(jumlah)

Produk
Apel      22
Jeruk      8
Pisang    35
Name: Jumlah, dtype: int64

#### Expected Output Soal 2

```
Produk
Apel     22
Jeruk     8
Pisang   35
Name: Jumlah, dtype: int64
```

### Soal 3

Anda diberikan dua pandas DataFrame di Python:

1.  `sales_df`: Berisi data transaksi penjualan.
2.  `products_df`: Berisi data produk.

```python
import pandas as pd

sales_data = {
    'ProductID': ['A101', 'A102', 'A101', 'A103', 'A102', 'A101', 'A104'],
    'CustomerID': ['C001', 'C002', 'C003', 'C001', 'C004', 'C002', 'C005'],
    'Quantity': [5, 2, 3, 1, 4, 2, 10],
    'Price': [10.0, 25.0, 10.0, 50.0, 25.0, 10.0, 5.0]
}
sales_df = pd.DataFrame(sales_data)

products_data = {
    'ProductID': ['A101', 'A102', 'A103', 'A104', 'A105'],
    'ProductName': ['Apple', 'Banana', 'Orange', 'Milk', 'Yogurt'],
    'Category': ['Fruit', 'Fruit', 'Fruit', 'Dairy', 'Dairy']
}
products_df = pd.DataFrame(products_data)

print("sales_df:")
print(sales_df)
print("\nproducts_df:")
print(products_df)
```

Tugas Anda adalah:

1.  Gabungkan (`merge`) `sales_df` dan `products_df` berdasarkan kolom `ProductID` menggunakan `inner merge`.
2.  Dari hasil penggabungan, lakukan grouping berdasarkan kolom `Category`.
3.  Hitung agregasi berikut untuk setiap `Category`:
    *   Jumlah total (`sum`) dari `Quantity`.
    *   Rata-rata (`mean`) dari `Price`.
    *   Jumlah unik (`nunique`) dari `ProductID`.
4.  Pastikan kolom hasil agregasi memiliki nama yang jelas (misalnya, `TotalQuantity`, `AveragePrice`, `UniqueProductCount`).
5.  Cetak DataFrame hasil agregasi tersebut.

In [ ]:
# TULIS JAWABAN KODE ANDA DISINI (Python)
# Pastikan program Anda berjalan tanpa error.
import pandas as pd

sales_data = {
    'ProductID': ['A101', 'A102', 'A101', 'A103', 'A102', 'A101', 'A104'],
    'CustomerID': ['C001', 'C002', 'C003', 'C001', 'C004', 'C002', 'C005'],
    'Quantity': [5, 2, 3, 1, 4, 2, 10],
    'Price': [10.0, 25.0, 10.0, 50.0, 25.0, 10.0, 5.0]
}
sales_df = pd.DataFrame(sales_data)

products_data = {
    'ProductID': ['A101', 'A102', 'A103', 'A104', 'A105'],
    'ProductName': ['Apple', 'Banana', 'Orange', 'Milk', 'Yogurt'],
    'Category': ['Fruit', 'Fruit', 'Fruit', 'Dairy', 'Dairy']
}
products_df = pd.DataFrame(products_data)

print("sales_df:")
print(sales_df)
print("\nproducts_df:")
print(products_df)

sales_df:
  ProductID CustomerID  Quantity  Price
0      A101       C001         5   10.0
1      A102       C002         2   25.0
2      A101       C003         3   10.0
3      A103       C001         1   50.0
4      A102       C004         4   25.0
5      A101       C002         2   10.0
6      A104       C005        10    5.0

products_df:
  ProductID ProductName Category
0      A101       Apple    Fruit
1      A102      Banana    Fruit
2      A103      Orange    Fruit
3      A104        Milk    Dairy
4      A105      Yogurt    Dairy

In [ ]:
df_merged = pd.merge(sales_df, products_df, on="ProductID", how="inner")
display(df_merged)

  ProductID CustomerID  Quantity  Price ProductName Category
0      A101       C001         5   10.0       Apple    Fruit
1      A102       C002         2   25.0      Banana    Fruit
2      A101       C003         3   10.0       Apple    Fruit
3      A103       C001         1   50.0      Orange    Fruit
4      A102       C004         4   25.0      Banana    Fruit
5      A101       C002         2   10.0       Apple    Fruit
6      A104       C005        10    5.0        Milk    Dairy

In [ ]:
grouping = df_merged.groupby('Category')

In [ ]:
total_quantity = grouping['Quantity'].sum()
mean_price = grouping['Price'].mean()
jumlah_unik = grouping['ProductID'].nunique()

hasil_agregasi = pd.DataFrame({'TotalQuantity': total_quantity, 'Averageprice': mean_price, 'UniqueProductCount': jumlah_unik})
display(hasil_agregasi)

          TotalQuantity  Averageprice  UniqueProductCount
Category
Dairy                10      5.000000                   1
Fruit                17     21.666667                   3

#### Expected Output Soal 3

Output yang diharapkan adalah DataFrame pandas yang menampilkan hasil agregasi per kategori. Urutan baris pada output mungkin bervariasi.

```
          TotalQuantity  AveragePrice  UniqueProductCount
Category                                                   
Dairy                10      5.000000                   1
Fruit                17     21.666667                   3
```\n

### Soal 4

Anda diberikan dua Pandas DataFrame: `df_sales` yang berisi data transaksi penjualan, dan `df_products` yang berisi informasi produk termasuk kategori.

`df_sales`:
```python
import pandas as pd

df_sales = pd.DataFrame({
    'OrderID': [1, 2, 3, 4, 5, 6, 7],
    'ProductID': ['A1', 'A2', 'B1', 'A1', 'C1', 'B2', 'A3'],
    'Quantity': [10, 5, 20, 5, 10, 15, 3],
    'Price': [50, 150, 30, 50, 100, 40, 200]
})
```

`df_products`:
```python
df_products = pd.DataFrame({
    'ProductID': ['A1', 'A2', 'A3', 'B1', 'B2', 'C1', 'E1'],
    'ProductName': ['Laptop', 'Tablet', 'Smartwatch', 'T-Shirt', 'Jeans', 'Book', 'Gadget'],
    'Category': ['Electronics', 'Electronics', 'Electronics', 'Apparel', 'Apparel', 'Books', 'Electronics']
})
```

Tugas Anda adalah:

1.  Gabungkan (`merge`) `df_sales` dengan `df_products` menggunakan `ProductID` sebagai kunci. Pastikan *semua* transaksi dari `df_sales` tetap ada, meskipun `ProductID` tidak ditemukan di `df_products` (gunakan jenis merge yang sesuai).
2.  Hitung total penjualan untuk setiap baris transaksi dalam DataFrame yang digabungkan (Quantity * Price).
3.  Kelompokkan data yang digabungkan berdasarkan `Category` dan hitung total pendapatan (`sum` dari total penjualan) untuk setiap kategori.
4.  Identifikasi kategori-kategori di mana total pendapatannya *lebih besar dari* 1000.
5.  Untuk *hanya* produk-produk yang termasuk dalam kategori yang telah diidentifikasi pada langkah 4, hitung rata-rata kuantitas (`mean` dari Quantity) yang terjual untuk setiap kategori tersebut.
6.  Hasil akhir harus berupa Pandas DataFrame yang menampilkan `Category` dan `Average Quantity Sold` untuk kategori yang memenuhi kriteria pendapatan.

In [ ]:
# TULIS JAWABAN KODE ANDA DISINI (Python)
# Pastikan program Anda berjalan tanpa error.\n

import pandas as pd

df_sales = pd.DataFrame({
    'OrderID': [1, 2, 3, 4, 5, 6, 7],
    'ProductID': ['A1', 'A2', 'B1', 'A1', 'C1', 'B2', 'A3'],
    'Quantity': [10, 5, 20, 5, 10, 15, 3],
    'Price': [50, 150, 30, 50, 100, 40, 200]
})

df_products = pd.DataFrame({
    'ProductID': ['A1', 'A2', 'A3', 'B1', 'B2', 'C1', 'E1'],
    'ProductName': ['Laptop', 'Tablet', 'Smartwatch', 'T-Shirt', 'Jeans', 'Book', 'Gadget'],
    'Category': ['Electronics', 'Electronics', 'Electronics', 'Apparel', 'Apparel', 'Books', 'Electronics']
})

df_merge = pd.merge(df_sales, df_products, on="ProductID", how="left")
display(df_merged)

   OrderID ProductID  Quantity  Price ProductName     Category
0        1        A1        10     50      Laptop  Electronics
1        2        A2         5    150      Tablet  Electronics
2        3        B1        20     30     T-Shirt      Apparel
3        4        A1         5     50      Laptop  Electronics
4        5        C1        10    100        Book        Books
5        6        B2        15     40       Jeans      Apparel
6        7        A3         3    200  Smartwatch  Electronics

In [ ]:
total_penjualan = df_merge['Quantity'] * df_merge['Price']
df_merge['TotalSales'] = total_penjualan

In [ ]:
data = df_merge.groupby('Category')
total_pendapatan = data['TotalSales'].sum()

In [ ]:
pendapatan_tinggi = total_pendapatan[total_pendapatan > 1000]
display(pendapatan_tinggi)

Category
Apparel        1200
Electronics    2100
Name: TotalSales, dtype: int64

In [ ]:
df_filtered_by_pendapatantinggi = df_merge[df_merge['Category'].isin(pendapatan_tinggi.index)]

In [ ]:
kategori = df_filtered_by_pendapatantinggi.groupby('Category')
rata_rata = kategori['Quantity'].mean()
display(rata_rata)

Category
Apparel        17.50
Electronics     5.75
Name: Quantity, dtype: float64

#### Expected Output Soal 4

Output yang diharapkan adalah Pandas DataFrame yang menunjukkan rata-rata kuantitas terjual untuk kategori dengan total pendapatan > 1000. Berdasarkan data di atas, kategori tersebut adalah 'Electronics' (2100) dan 'Apparel' (1200).

```
Category     
Apparel      17.5
Electronics   6.0
Name: Quantity, dtype: float64
```

*Catatan: Format tampilan Series/DataFrame di Pandas bisa sedikit berbeda tergantung versi, tapi nilainya harus sesuai.*\n