### Soal 1 (Tipe: Deskripsi)

Jelaskan perbedaan fundamental antara pustaka NumPy dan Pandas dalam analisis data di Python. Sebutkan dan jelaskan dua struktur data utama yang diperkenalkan oleh Pandas (Series dan DataFrame), termasuk bagaimana cara umum untuk membuatnya dari sumber data seperti list atau dictionary.

<!-- TULIS JAWABAN DESKRIPTIF ANDA DISINI (Markdown) -->

Jawaban Anda:
numpy yaitu library yang digunakan untuk perhitungan matematis dan memanipulasi data berbentuk array. sifatnya hanya bisa 1 tipe data (numerikal). sedangkan pandas digunakan untuk manajemen data pada python. dalam analisis data, pandas sangat unggul dalam menangani tugas umum seperti memuat data, membersihkan data, tranformasi data, anailisi data, dan visualisasi data.


2 struktur data utama yang diperkenalkan oleh pandas (series dan dataframe):
Pandas Series seperti satu kolom dalam spreadsheet atau array satu dimensi yang dapat menyimpan data dari berbagai tipe dan memiliki index sebagai label atau alamat yang terkait dengan setiap elemen. DataFrame adalah struktur data utama dan yang paling sering digunakan di Pandas, anggap saja ini sebagai representasi tabel data yang lengkap seperti spreadsheet atau tabel dalam database SQL, di mana DataFrame memiliki index untuk baris dan kolom sebagai label, serta setiap kolom dalam DataFrame pada dasarnya adalah sebuah Pandas Series.

### Soal 2 (Tipe: Kode)

Buatlah kode Python menggunakan library Pandas untuk melakukan langkah-langkah berikut:

1.  Import library pandas.
2.  Buatlah sebuah dictionary Python dengan nama `data` yang berisi data sebagai berikut:
    ```python
    {
        'Nama': ['Andi', 'Budi', 'Citra', 'Dewi', 'Eko', 'Fani'],
        'Usia': [25, 30, 22, 28, 35, 27],
        'Kota': ['Jakarta', 'Surabaya', 'Bandung', 'Yogyakarta', 'Semarang', 'Medan']
    }
    ```
3.  Konversikan dictionary `data` tersebut menjadi sebuah Pandas DataFrame.
4.  Tampilkan 3 baris pertama dari DataFrame menggunakan method `.head()`.
5.  Tampilkan ringkasan informasi mengenai DataFrame (jumlah non-null, tipe data, dll.) menggunakan method `.info()`.

In [ ]:
# TULIS JAWABAN KODE ANDA DISINI (Python)
# Pastikan program Anda berjalan tanpa error.

import pandas as pd

data = {
    'Nama': ['Andi', 'Budi', 'Citra', 'Dewi', 'Eko', 'Fani'],
    'Usia': [25, 30, 22, 28, 35, 27],
    'Kota': ['Jakarta', 'Surabaya', 'Bandung', 'Yogyakarta', 'Semarang', 'Medan']
}

df = pd.DataFrame(data)

print(df.head(3))
print(df.info())

    Nama  Usia      Kota
0   Andi    25   Jakarta
1   Budi    30  Surabaya
2  Citra    22   Bandung
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Nama    6 non-null      object
 1   Usia    6 non-null      int64
 2   Kota    6 non-null      object
dtypes: int64(1), object(2)
memory usage: 276.0+ bytes
None

#### Expected Output Soal 2

```text
    Nama  Usia     Kota
0   Andi    25  Jakarta
1   Budi    30  Surabaya
2  Citra    22  Bandung
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
--  ------  --------------  -----
 0   Nama    6 non-null      object
 1   Usia    6 non-null      int64
 2   Kota    6 non-null      object
dtypes: int64(1), object(2)
memory usage: 278.0+ bytes
```

*Note: Bagian `memory usage` pada output `.info()` mungkin sedikit berbeda tergantung versi Pandas, tetapi struktur utama harus sama.*

### Soal 3 (Tipe: Kode)

Buatlah sebuah Pandas DataFrame dari dictionary berikut:

```python
data = {
    'Nama': ['Adi', 'Budi', 'Cici', 'Dedi', 'Eka'],
    'Usia': [25, 30, 22, 28, 35],
    'Nilai': [85, 92, 78, 88, 95]
}
```

Tampilkan 3 baris pertama dari DataFrame tersebut menggunakan metode `.head()`.

Kemudian, tampilkan statistik deskriptif untuk kolom numerik (Usia dan Nilai) menggunakan metode `.describe()`.

In [ ]:
# TULIS JAWABAN KODE ANDA DISINI (Python)
# Pastikan program Anda berjalan tanpa error.
import pandas as pd

data = {
    'Nama': ['Adi', 'Budi', 'Cici', 'Dedi', 'Eka'],
    'Usia': [25, 30, 22, 28, 35],
    'Nilai': [85, 92, 78, 88, 95]
}

df = pd.DataFrame(data)

print(df.head(3))
print(df.describe())

   Nama  Usia  Nilai
0   Adi    25     85
1  Budi    30     92
2  Cici    22     78
            Usia      Nilai
count   5.000000   5.000000
mean   28.000000  87.600000
std     4.949747   6.580274
min    22.000000  78.000000
25%    25.000000  85.000000
50%    28.000000  88.000000
75%    30.000000  92.000000
max    35.000000  95.000000

#### Expected Output Soal 3

Output Anda akan menampilkan dua bagian:

1. Output dari `.head(3)`:

```
   Nama  Usia  Nilai
0   Adi    25     85
1  Budi    30     92
2  Cici    22     78
```

2. Output dari `.describe()` (nilai pastinya mungkin sedikit bervariasi tergantung versi pandas, tetapi strukturnya akan sama):

```
           Usia      Nilai
count  5.000000   5.000000
mean  28.000000  87.600000
std    4.847679   6.730527
min   22.000000  78.000000
25%   25.000000  85.000000
50%   28.000000  88.000000
75%   30.000000  92.000000
max   35.000000  95.000000
```

### Soal 4 (Tipe: Kode)

Anda diberikan sebuah dictionary Python berikut yang berisi data siswa:

```python
data = {'nama': ['Andi', 'Budi', 'Citra', 'Dewi'],
        'usia': [20, 21, 22, 20],
        'nilai': [85, 92, 78, 88]}
```

1.  Buatlah sebuah Pandas DataFrame dari dictionary `data` tersebut.
2.  Pilih kolom dengan nama `nilai` dari DataFrame tersebut.
3.  Hitung nilai rata-rata (mean) dari kolom `nilai` menggunakan method atau fungsi yang sesuai dari Pandas atau NumPy.
4.  Cetak hasil nilai rata-rata tersebut.

In [ ]:
# TULIS JAWABAN KODE ANDA DISINI (Python)
# Pastikan program Anda berjalan tanpa error.
import pandas as pd

data = {
    'nama': ['Andi', 'Budi', 'Citra', 'Dewi'],
    'usia': [20, 21, 22, 20],
    'nilai': [85, 92, 78, 88]
}

df = pd.DataFrame(data)

display(df['nilai'].mean())
print("Nilai rata-rata dari kolom nilai yaitu:", df['nilai'].mean())

np.float64(85.75)

Nilai rata-rata dari kolom nilai yaitu: 85.75

#### Expected Output Soal 4

```text
85.75
```

### Soal 5 (Tipe: Kode)

Gunakan library Pandas untuk menyelesaikan tugas berikut:

1.  Buatlah sebuah Pandas DataFrame dari dictionary Python berikut:

    ```python
data = {
    'Nama': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Usia': [25, 30, 35, 28, 32],
    'Nilai': [85.5, 92.0, 78.5, 88.0, 95.5]
}
    ```

2.  Tampilkan 3 baris pertama dari DataFrame tersebut menggunakan metode `.head()`.
3.  Tampilkan informasi ringkasan mengenai DataFrame, termasuk tipe data dan jumlah non-null per kolom, menggunakan metode `.info()`.
4.  Tampilkan statistik deskriptif (seperti mean, min, max, standard deviation, dll.) untuk kolom numerik dalam DataFrame menggunakan metode `.describe()`.

In [ ]:
# TULIS JAWABAN KODE ANDA DISINI (Python)
# Pastikan program Anda berjalan tanpa error.
import pandas as pd

df = pd.DataFrame(data)

data = {
    'Nama': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Usia': [25, 30, 35, 28, 32],
    'Nilai': [85.5, 92.0, 78.5, 88.0, 95.5]
}

print(df.head(3))

      Nama  Usia  Nilai
0    Alice    25   85.5
1      Bob    30   92.0
2  Charlie    35   78.5

In [ ]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Nama    5 non-null      object
 1   Usia    5 non-null      int64
 2   Nilai   5 non-null      float64
dtypes: float64(1), int64(1), object(1)
memory usage: 252.0+ bytes
None

In [ ]:
print(df.describe())

            Usia      Nilai
count   5.000000   5.000000
mean   30.000000  87.900000
std     3.807887   6.494228
min    25.000000  78.500000
25%    28.000000  85.500000
50%    30.000000  88.000000
75%    32.000000  92.000000
max    35.000000  95.500000

#### Expected Output Soal 5

Berikut adalah contoh output yang diharapkan:

Output dari `df.head(3)`:

```
      Nama  Usia  Nilai
0    Alice    25   85.5
1      Bob    30   92.0
2  Charlie    35   78.5
```

Output dari `df.info()` (struktur detail bisa sedikit berbeda tergantung versi Pandas dan lingkungan):

```
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Nama    5 non-null      object
 1   Usia    5 non-null      int64
 2   Nilai   5 non-null      float64
dtypes: float64(1), int64(1), object(1)
memory usage: ~200.0 bytes
```

Output dari `df.describe()`:

```
       Usia      Nilai
count   5.0   5.000000
mean   30.0  87.900000
std     3.9  6.295236
min    25.0  78.500000
25%    28.0  85.500000
50%    30.0  88.000000
75%    32.0  92.000000
max    35.0  95.500000
```
(Catatan: Nilai desimal pada 'std', 'mean', dll. mungkin bervariasi sedikit tergantung versi Pandas dan lingkungan)