variabel

In [1]:
#aritmatika
print(8+3)
print(8-3)
print(8/3)
print(8*3)

11
5
2.6666666666666665
24

In [2]:
a = 10
b = 7

print(a+b)
print(a-b)
print(a/b)
print(a*b)

17
3
1.4285714285714286
70

tipe data

- string --> teks | pake tanda kutip
- numerik --> angka | untuk matematika
  - integer --> bilangan bulat
  - float --> bilangan desimal
- bolean --> true false

In [3]:
10 in (1, 3, 4)

False

In [4]:
5 > 2

True

In [6]:
nama_lengkap = "ahmad rizki"
usia = 18
berat_badan = 65.5
sudah_lulus = True

In [7]:
#string formating
print(f"nama lengkap : {nama_lengkap}. Usia saya adalah {usia} dan berat badan saya {berat_badan}")

nama lengkap : ahmad rizki. Usia saya adalah 18 dan berat badan saya 65.5

In [8]:
print(f"variabel sudah_lulus punya nilau {sudah_lulus} dan tipe datanya {type(sudah_lulus)}")

variabel sudah_lulus punya nilau True dan tipe datanya <class 'bool'>

In [11]:
#metode

kalimat = "Belajar python itu menyenangkan"

print(kalimat.lower()) # mengubah ke huruf kecil
print(kalimat.upper()) # mengubah ke huruf besar
print(len(kalimat)) # menghitung panjang string
print(kalimat.replace("python", "pemrograman")) # mengganti kata

belajar python itu menyenangkan
BELAJAR PYTHON ITU MENYENANGKAN
31
Belajar pemrograman itu menyenangkan